<div class="container">

<h2>Welcome <%=@user.name%></h2>
<br><br>
<h4>Walls</h4>
  <ul>
    <% @walls.each do |wall| %>
      <li><%= link_to wall.name, wall_path(wall) %>
    <%end%>
  </ul>
  <%= link_to 'Create a Wall', new_wall_path, :class => 'btn btn-success' %>




</div>