<div class="url">
  <p>Full Url: <%= @url.long_url %></p>
  <p>Shortened Url: <%= @url.short_url %></p>
  <p><%= link_to("Delete", user_url_path(@user, @url), method: :delete)%></p>
  <p><%= link_to("Back to user page", user_path(@user)) %></p>
</div>