<div class="user">
  <p><%= current_user.name %></p>
  <p><%= link_to("User's URLs", user_urls_path(current_user)) %></p>
  <p><%= link_to("Shorten a Url", new_user_url_path(current_user)) %></p>
  <p><%= link_to("Sign out", '/sign_out', method: :delete) %></p>
</div>