<p>All the posts:</p>
<%= link_to "Create new post", new_wall_post_path %>
<ol>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, wall_post_path(post.wall, post.id) %> upvotes: <%= post.votes.count %></li>
  <% end %>
</ol>