/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .vote{
   cursor: pointer;
 }

 .post-info{
   padding-top: 20px;
 }
 .tab {
     display: none;
 }
 .tabs {
     float: left;
     border-bottom: 1px solid #ccc;
     width: 100%;
     margin-bottom: 16px;
     list-style: none;
 }
 .tabs li {
     float: left;
     margin-right: 16px;
     padding: 10px;
     height: 30px;
     line-height: 30px;
     margin-bottom: 20px;
 }
 .tabs li a {
     color: #666;
     font-family: Helvetica, Arial, sans-serif;
     text-decoration: none;
 }

 /*
   To get the "tab" effect, we have to cover up the grey border of the ul element
   To do this, we make the list item one pixel taller, give it a negative 1px bottom margin,
   and give it a 1px white bottom border.  This keeps the list item the same overall height,
   but "nudges" it down 1px so its white border covers the ul's grey border

   We also have to juggle with the margin to compensate for the new borders on the top, left, and right.
 */

 .tabs li.active {
     border: 1px solid #ccc;
     border-bottom: 1px solid white;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     margin-bottom: 0px;
     height: 31px;
     padding: 9px 14px;
 }

 .tabs li.active a {
     color: black;
     text-decoration: none;
     border-bottom: 10px;
 }

 .container {
     margin: 20px auto;
     width: 600px;
 }

 p {
     font-family: Georgia, serif;
     font-size: 14px;
     line-height: 24px;
     margin-bottom: 8px;
 }

 h1, h2, h3 {
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
 }

 h1 {
     font-size: 32px;
     line-height: 48px;
     margin-bottom: 16px;
 }

 h2 {
     font-size: 24px;
     font-weight: bold;
     line-height: 48px;
 }
